[defaults]
inventory             = inventory/hosts.yml
roles_path            = roles
collections_path      = ../.venv/lib/python3/site-packages/ansible_collections:~/.ansible/collections
stdout_callback       = yaml
bin_ansible_callbacks = True
log_path              = logs/ansible.log
retry_files_enabled   = False
host_key_checking     = False
interpreter_python    = auto_silent
forks                 = 5
display_skipped_hosts = False
display_ok_hosts      = True
nocows                = 1

[ssh_connection]
pipelining            = True
